[2021-03-08 08:50] geob3d opened #1 "The References field is null when adding a schema"
HI @xnuinside

First of all, I just wanted to tell you how amazing this parser is. I was testing the parser and noticed that the references fields in the Json output returns a value of "none" when adding a schema name to the table. For example if added the following values after REFERENCES, the "none" value appears:

other_schema.other_table
"other_schema".other_table

However, if just add the tab

[2021-03-08 09:06] xnuinside commented on #1
@geob3d, thank you for the feedback! I will fix it today and release new version little bit later :) you correct, I did not add schema support to references, need to fix it

[2021-03-08 09:35] xnuinside commented on #1
@geob3d, I added support - https://github.com/xnuinside/simple-ddl-parser/pull/2, I plan to do several more things today and will release 0.4.0 with updates

[2021-03-08 13:38] xnuinside commented on #1
@geob3d fix was released in 0.4.0 version, pls check

[2021-03-08 16:13] geob3d commented on #1
Hi @xnuinside

I just tested the changes on 0.4.0.  The schema support for references works as expected. I love the addition of the alter table statement to the parser.

Thank you for the hard work as the project.  This parser is one of the best I've seen so far.

[2021-03-08 16:13] #1 closed

[2021-03-08 16:23] xnuinside commented on #1
@geob3d  thank you :)

[2021-03-08 16:49] geob3d opened #5 "Adding Support for Check Constratint"
Hi @xnuinside

I was wondering if you plan on adding support for check constraints. Below are some examples for the check.

CREATE TABLE employees (
	id SERIAL PRIMARY KEY,
	first_name VARCHAR (50),
	last_name VARCHAR (50),
	birth_date DATE CHECK (birth_date > '1900-01-01'),
	joined_date DATE CHECK (joined_date > birth_date),
	salary numeric CHECK(salary > 0)
);
CREATE TABLE Persons (
    ID int N

[2021-03-08 17:08] xnuinside commented on #5
I will add it to TODO list

[2021-03-08 21:24] xnuinside commented on #5
@geob3d, I added full support to CHECK statement based on your example )) https://github.com/xnuinside/simple-ddl-parser/pull/6 pls review. I will tomorrow add docs, if you will have any suggestions or comments - add in PR. Full your example, you can find in test test_alter_check_combine_all_variants in file test_alter_statements.py

[2021-03-11 19:13] xnuinside commented on #5
done in https://github.com/xnuinside/simple-ddl-parser/pull/6

[2021-03-11 19:13] #5 closed

[2021-03-23 15:23] walkman90 opened #18 "Support REFERENCES `ON` construction"
Adding `ON DELETE CASCADE` or similar `ON` construction after `REFERENCES ...` leads to an empty parse result.
It would be nice to support `ON` also.

Thanks! Cool parser BTW :)

[2021-03-23 15:30] xnuinside commented on #18
@walkman90 , hello & thank you! Good addition. I will be back from vacation on 31 March and will add support in parser.

[2021-03-25 17:33] nitin-kakkar opened #19 "Parse Hive External Table DDL with Partitions"
I have below hive DDL which i need to parse but it is not working. @xnuinside - could you please help
[code]

[2021-03-25 17:51] xnuinside commented on #19
@nitin-kakkar , hello. External - keyword was nt added yet & partitioned by also. I will return from vacation on 31 March and will continue on library. I will add support to this statements.

[2021-03-26 00:26] nitin-kakkar commented on #19
@xnuinside - thanks!!

[2021-03-31 22:01] nitin-kakkar commented on #19
thank you so much @xnuinside  -
are complex data types also supported -
column_abc            ARRAY<struct<colx:string,coly:string>>
looking for following output
[code]

[2021-03-31 22:43] nitin-kakkar commented on #19
@xnuinside - This example is noot working.. multiple partition columns
`from simple_ddl_parser import DDLParser

ddl = """
CREATE EXTERNAL TABLE IF NOT EXISTS database.table_name
(
    day_long_nm     string,
    calendar_dt     date
) PARTITIONED BY (batch_id int,batch_nm string) STORED AS PARQUET LOCATION 's3://datalake/table_name/v1'

"""

result = DDLParser(ddl).run(output_mode="hql")
print(re

[2021-04-01 04:48] xnuinside commented on #19
@nitin-kakkar, oops :) sorry, multiple partition columns - fixed in  https://pypi.org/project/simple-ddl-parser/0.8.0a1/ . test with output here https://github.com/xnuinside/simple-ddl-parser/pull/21/files

[2021-04-01 08:45] xnuinside commented on #19
@nitin-kakkar  I released 0.8.0 with fixes for multiple partition columns + also added https://github.com/xnuinside/simple-ddl-parser/pull/22 HQL ROW FORMAT statement, FIELDS TERMINATED BY statement, COLLECTION ITEMS TERMINATED BY statement, MAP KEYS TERMINATED BY statement

[2021-04-01 14:44] nitin-kakkar commented on #19
@xnuinside - Thanks!! . multiple partitioned column is working fine. did you also add complex data type support. https://github.com/xnuinside/simple-ddl-parser/issues/19#issuecomment-811494765 - is still not working
Thanks again for a quick turnaround.

[2021-04-01 14:57] xnuinside commented on #19
@nitin-kakkar, not supported yet, I will add it in next update

[2021-04-01 17:07] xnuinside commented on #19
@nitin-kakkar, added in 0.8.1, please test, samples here - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L974 & https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L1021

[2021-04-01 17:49] nitin-kakkar commented on #19
@xnuinside - complex types are working fine now.. just a small issue - whitespaces are getting added in types
for column - abc_groups ARRAY<struct<some_field_one:string,some_field_two:string>>
output - you will notice whitespaces - "ARRAY <struct <" in key type
[code]

[2021-04-01 17:51] xnuinside commented on #19
@nitin-kakkar, yes, I know about it, not sure how to fix this issue faster, I will try to solve it in next releases, but not sure how to do this easy way. It's because of structure parsing.

[2021-04-01 17:55] nitin-kakkar commented on #19
@xnuinside - no worries .. thanks again for quick turnaround... you can close the issue..

[2021-04-01 17:56] xnuinside commented on #19
@nitin-kakkar, to understand that this is a structure defining in type, I need get < and > symbols as separate tokens, but to do this I need 'cut' them from string, so in pre-parsing step I do from  `ARRAY<struct<some_field_one:string,some_field_two:string>>` `ARRAY < struct < some_field_one:string,some_field_two:string > > `
I can just remove spaces at the end, but I don't know was them in place

[2021-04-01 17:56] #19 closed

[2021-04-03 22:33] xnuinside commented on #18
@walkman90  hello! I added feature in release 0.9.0 (already released). Example of output: https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_references.py#L37. Please comment if you will find any issues or need to add smth else.

[2021-04-08 04:46] geob3d opened #29 "MSSQL/TSQL Support"
Hi @xnuinside

I hope your are doing well. I saw that you made some major enhancements since to this project (FYI this is still amazing). I  wanted to provide this comprehensive query for when you plan to add MS/T SQL support to the parser. You will notice that Postgres and MS SQL have  similar syntaxes . The DDL below includes almost every TSQL data type. I also included the max sizes for each of

[2021-04-08 06:37] xnuinside commented on #29
Hi, thank you! It is very useful, I will check how parser work with them right now and will add to the tests. One thing that I see ‘by eyes’ it’s exactly Identity - need to add support to it, because in syntax right now expected column_name type (size) and here column_name type type (size). I’m not sure how correct parse types this way. In PostgreSQL type just defined like SERIAL or BIGSERIAL. So

[2021-04-08 13:35] nitin-kakkar opened #30 "import error - version 0.11"
hi @xnuinside
Hope you are doing well

i am getting following error while importing simple_ddl_parser. Could you please check

[code]

[2021-04-08 13:43] xnuinside commented on #30
@nitin-kakkar, dozens of 'sorry; I forgot that Literal only from 3.8 - please check 0.11.1, just released fix

[2021-04-08 13:50] nitin-kakkar commented on #30
thanks for quick fix @xnuinside .. really appreciate it.. you can close the issue

[2021-04-08 14:31] geob3d commented on #29
HI @xnuinside

You are correct, the best approach would be to use 'int IDENTITY’ as a type. T-SQL does not allow  'Identity'  to be present without declaring an integer data type on the column.  Below is a DDL example that demonstrates which data types can be used with "Identity".

[code]

[2021-04-08 17:40] #30 closed

[2021-04-12 04:40] xnuinside commented on #18
I will close issue as done, if you will have anything more - feel free to open a new one.

[2021-04-12 04:40] #18 closed

[2021-04-13 20:55] xnuinside commented on #29
@geob3d, hello! thanks for huge example - it is very useful, I released 0.12.0-a0 (PR with tests here): https://github.com/xnuinside/simple-ddl-parser/pull/31 you can test it, but I not done yet, need to add support for
--CREATE UNIQUE INDEX i1 ON t1 (delete_date DESC, create_date ASC, ending_funds  DESC);  (usage 'DESC' near column)
and
ALTER TABLE sqlserverlist ADD CONSTRAINT df_user_street DEFA

[2021-04-17 07:34] xnuinside commented on #29
@geob3d, hi! I just released version 0.12.0 https://pypi.org/project/simple-ddl-parser/ . Your whole example must works, please check. If you will find any issues - just comment about them. But after `CONSTRAINT FK_Person_Age_under  FOREIGN KEY (id)REFERENCES Persons(PersonID)
)` need to put ';' of course to separate statements.

[2021-04-19 21:53] geob3d commented on #29
HI @xnuinside

I can certainly take a look. Last week was  a little busy but I will do some tests this week and confirm that the parser is working for  MSSQL. I have already started working on the MSSQL syntax and I will open a new issue we complete this one.

[2021-04-23 15:18] xnuinside commented on #29
@geob3d Did you have a time? btw https://xnuinside.medium.com/code-generation-how-to-generate-pydantic-sqlalchemy-ginoorm-models-from-sql-ddl-2c111b08b7a7 (at the end of article - thanks for you :))

[2021-04-25 18:20] geob3d commented on #29
Hi @xnuinside

Thank you for the shout out on your article! I am happy to know that I was happy enough to get the honor. You have been working very hard on this wonderful project and I cannot thank you enough for the work that you put in. I look forward to make as many contributions as I can.

Now for the some testing results. I decided to review the table output first. I noticed that the bellow l

[2021-04-25 19:03] geob3d commented on #29
Hi @xnuinside

I reviewed the alter statement and everything looks great !

[2021-04-26 10:06] xnuinside commented on #29
@geob3d , hi, thanks for the catch "days_active<=18 AND user_city='New "
                                                              "York'" looks like a bug - I will try to fix it

[2021-05-03 09:19] xnuinside commented on #29
@geob3d, I checked the output, if print
print(result['tables'][0]['constraints']['checks'][0]['statement'])
if will return normal str `days_active<=18 AND user_city='New York'`

Magic with new line and spaces add just by **pprint** that I used to display output, so it's not a bug )) but strange format from pprint. Can I close the issue?

[2021-05-05 03:45] geob3d commented on #29
Hi @xnuinside

Thank you for taking a look. You can close this issue. I will open another issue if i see another issue. Once again thank you for all the amazing work!

Regards
George

[2021-05-05 03:45] #29 closed

[2021-05-14 10:10] walkman90 opened #39 "Default value with expression"
**Describe the bug**

For such an example, where default value contains expression - the table is missing in result:
[code]
*Postgresql dialect

[2021-05-14 10:30] walkman90 opened #40 "Primary key with default value"
**Describe the bug**

If the primary key defined with a DEFAULT value - the parser won't treat it as a primary key in the result

[code]
* `getId()` is a function that generate UUID
* Postgresql dialect

In result: `'primary_key': []`

[2021-05-14 11:52] xnuinside commented on #39
@walkman90, thank you for reporting an issue! I will take in work both issues on this weekend.

[2021-05-16 08:31] xnuinside commented on #40
@walkman90, hello! I released fixes in 0.15.0 version https://pypi.org/project/simple-ddl-parser/, test case with your sample and output: https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_simple_ddl_parser.py#L1084

[2021-05-16 08:34] xnuinside commented on #39
@walkman90, hello again!  fixes was done in 0.15.0 version https://pypi.org/project/simple-ddl-parser/, test case with your sample and output: https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_simple_ddl_parser.py#L1125

[2021-05-18 18:55] walkman90 commented on #39
thank you for a quick fix, works like a charm!

[2021-05-18 19:05] xnuinside commented on #39
@walkman90 can I close the issues?

[2021-05-18 19:16] walkman90 commented on #39
yes, sure

[2021-05-18 19:21] #39 closed

[2021-05-18 19:21] #40 closed

[2021-06-07 12:52] walkman90 opened #44 "Enum handling"
Postgres dialect allows to define enumerations as a type, for example:

[code]

Right now parser will fail in this case with:
`ValueError: dictionary update sequence element #0 has length 1; 2 is required`

It would be nice if the parser could just omit enum definitions.
Or support enum parsing as well if you think it is make sense.

One more example of enum definition for testing:
[code]

[2021-06-07 20:51] xnuinside commented on #44
@walkman90, hi, thanks for reporting an issue. for this example,
[code]
a lot of thinks are not done, I did not planned to support DO BEGIN statements yet

To be honest, Enum was added https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_simple_ddl_parser.py#L983 so looks like there is some bug, that I need to check.

[2021-06-08 07:43] xnuinside commented on #44
@walkman90, I released version 0.16.1 with fix. Now this ddl
[code]
produces the output:

`{'tables': [{'columns': [{'name': 'entity_id', 'type': 'UUID', 'size': None, 'references': None, 'unique': False, 'nullable': False, 'default': 'getId()', 'check': None}, {'name': 'status', 'type': 'my_status', 'size': None, 'references': None, 'unique': False, 'nullable': True, 'default': None, 'check': Non

[2021-06-08 08:30] walkman90 commented on #44
that more than enough for me, thanks a lot for a quick fix

[2021-06-08 08:34] xnuinside commented on #44
@walkman90, if you will find any new issues - you know that to do :) thanks for the reports!

[2021-06-08 08:34] #44 closed

[2021-06-10 07:11] walkman90 opened #47 "'key' as a column name"
The table will be skipped if it has a column named 'key'

[code]

Output `[]`

[2021-06-10 07:26] xnuinside commented on #47
@walkman90 and I know the reason )) I will need some time to think how to fix it

[2021-06-13 18:54] xnuinside commented on #47
@walkman90 I released version 0.16.3 with the fix, please try it

[2021-06-14 07:38] walkman90 commented on #47
perfect, thank you!

[2021-06-14 08:14] xnuinside commented on #47
@walkman90, I will close the issue, you know that to do if something will be wrong :)

[2021-06-14 08:14] #47 closed

[2021-07-22 15:21] dargueta opened #50 "Feature: AWS Redshift Support"
Would it be possible to add support for [AWS Redshift](https://aws.amazon.com/redshift)? It's based on Postgres 8.0 but, being a distributed database with columnar storage, has added some syntax to control how rows are distributed and compressed. You can find a BNF-esque grammar [here](https://docs.aws.amazon.com/redshift/latest/dg/r_CREATE_TABLE_NEW.html).

Currently, this doesn't detect the DDL

[2021-07-22 16:53] xnuinside commented on #50
@dargueta, hi. Yes, why not. Let me add the support of Redshift statements. I will start from your example.

[2021-08-02 15:57] xnuinside commented on #50
@dargueta I cannot find SORTSTYLE in docs https://docs.amazonaws.cn/en_us/redshift/latest/dg/r_CREATE_TABLE_NEW.html#r_CREATE_TABLE_NEW-synopsis, see only sortkeys

[2021-08-02 21:47] xnuinside commented on #50
`
ddl = """

 CREATE TABLE foo.bar(
     asdf INTEGER ENCODE ZSTD NOT NULL,
     qwerty VARCHAR(255) ENCODE LZO
 )
COMPOUND SORTKEY (qwerty)
 DISTSTYLE EVEN
 ;
"""

result = DDLParser(ddl).run(group_by_type=True, output_mode="redshift")`
will produce now:

{'domains': [],
 'schemas': [],
 'sequences': [],
 'tables': [{'DISTSTYLE': 'EVEN',
             'alter': {},
             'checks': [],

[2021-08-02 21:47] #50 closed

[2021-08-10 07:48] lapter57 opened #53 "Tab between column name and column type"
If the column name is separated from the column type only by a tab, then return `[]`
[code]

If the first column name is separated from the column type by a tab and some spaces (before or after the tab), but second column name is separated from the `DECIMAL` type only by a tab then an error is returned
[code]

If I replace all tabs with a space with method `replace('\t', ' ')`, then I get the corr

[2021-08-10 08:38] xnuinside commented on #53
@lapter57 , hi! thanks for the report. I will try to fix it today and release patch version.

[2021-08-10 16:51] xnuinside commented on #53
@lapter57 added test https://github.com/xnuinside/simple-ddl-parser/pull/54 and released 0.19.1 with fix. if will be any other issues - feel free to open the new issue report. Thanks one more tim!

[2021-08-10 16:51] #53 closed

[2021-08-16 16:04] lapter57 opened #55 "Quoted Identifiers in Column Names"
Hi! If  I use of quoted identifiers in the names of table columns,  then return `[]`.
[code]

[2021-08-16 16:21] xnuinside commented on #55
@lapter57  hi, yes, right now supported form only with "" quotes & without, I will add support for `

[2021-08-16 19:46] xnuinside commented on #55
@lapter57 https://github.com/xnuinside/simple-ddl-parser/pull/56/files released, test added, version 0.19.2 with fix https://pypi.org/project/simple-ddl-parser/

[2021-08-16 19:46] #55 closed

[2021-08-26 16:23] antoine-lefebvre opened #57 "Typo in Partition By parsing"
**Describe the bug**

Based on the documentation (and looking at the source code and tests), the keyword matched for partitioning is "PARTITIONED BY".
But the actual SQL syntax is "PARTITION BY".

This result in the parsing not working.

Could you please fix this issue?

`
CREATE TABLE table_name
(
    table_id INT64,
    a_column STRING,
    another_column BOOLEAN,
    a_partion_column DATE
)
PAR

[2021-08-29 09:41] xnuinside commented on #57
@antoine-lefebvre hi! I released version 0.19.4 https://pypi.org/project/simple-ddl-parser/ and added several test https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_after_columns_statements.py#L1049 https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_after_columns_statements.py#L140, you can check result here - if will be any issues/bugs or features to add - pleas

[2021-08-29 09:41] #57 closed

[2021-09-09 01:30] dargueta commented on #50
Thanks!

[2021-09-16 03:05] kukigai opened #60 "Cannot use special character like # or | on COMMENT"
**Describe the bug**
Cannot use special character like # or | on COMMENT

**To Reproduce**
Try to parse

ddl = """
CREATE EXTERNAL TABLE `test` (
    job_id STRING NULL COMMENT 'test'
)
STORED AS PARQUET LOCATION 'hdfs://test'
"""
from simple_ddl_parser import DDLParser
parse_results = DDLParser(ddl).run(output_mode="hql")

**Expected behavior**
Should get json result but got empty.

[2021-09-16 03:08] kukigai opened #61 "DDL statement without "NULL" or "not NULL" is not supported"
**Describe the bug**
DDL statement without "NULL" or "not NULL" is not supported

**To Reproduce**
The following failed. (empty response)
ddl = """
CREATE EXTERNAL TABLE `test` (
    job_id STRING COMMENT 'test'
)
STORED AS PARQUET LOCATION 'hdfs://test'
"""
from simple_ddl_parser import DDLParser
parse_results = DDLParser(ddl).run(output_mode="hql")

But the following passed.
ddl = """
CREATE EXT

[2021-09-16 04:39] xnuinside commented on #61
@kukigai, hello. In test there are a lot of samples without null statements https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_simple_ddl_parser.py#L13. I think problem in something else. I will check at the evening both issues & will try fix as soon as possible

[2021-09-16 07:57] xnuinside commented on #61
okay, I got reason ) problem in 'COMMENT' without nulls.. I will try to fix it

[2021-09-16 08:38] xnuinside commented on #60
@kukigai I added test case for special characters here https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L1639 & released version 0.19.5 with fix. Feel free to open new issue if needed. And thanks for the report!

[2021-09-16 08:38] #60 closed

[2021-09-16 08:39] xnuinside commented on #61
@kukigai I released version 0.19.5 https://pypi.org/project/simple-ddl-parser/ with fix & test case here - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L1567. Thanks for the report! And feel free to open new issue, if you will find anything.

[2021-09-16 08:39] #61 closed

[2021-09-16 16:58] kukigai opened #63 "Escaped single quote in COMMENT is not handled properly"
**Describe the bug**
Escaped single quote in COMMENT is not handled properly

**To Reproduce**
ddl = """
CREATE EXTERNAL TABLE `test` (
    job_id STRING COMMENT 'test\'s'
)
STORED AS PARQUET LOCATION 'hdfs://test'
"""
from simple_ddl_parser import DDLParser
parse_results = DDLParser(ddl).run(output_mode="hql")

**Expected behavior**
Non empty json should be returned

[2021-09-16 16:59] kukigai commented on #60
Thanks for the quick fix but found a new issue.  https://github.com/xnuinside/simple-ddl-parser/issues/63

[2021-09-16 17:04] xnuinside commented on #63
@kukigai but now in your example  it's not escaped, I mean if I put it in query editor it will parse 'test' -as string, but s' - will be marked like invalid

[2021-09-16 17:18] xnuinside commented on #63
as I see - must be some 'escaping' character like \' or '' - for sql server

[2021-09-16 17:56] kukigai commented on #63
sorry, i think github remove escaped char when i pasted, maybe.

ddl = """
CREATE EXTERNAL TABLE test (
job_id STRING COMMENT 'test\'s'
)
STORED AS PARQUET LOCATION 'hdfs://test'
"""
from simple_ddl_parser import DDLParser
parse_results = DDLParser(ddl).run(output_mode="hql")

[2021-09-16 18:32] kukigai opened #64 "Question mark in COMMENT is not handled"
**Describe the bug**
Question mark in COMMENT is not handled

**To Reproduce**
ddl = """
CREATE EXTERNAL TABLE `test` (
    job_id STRING COMMENT 'test?'
)
STORED AS PARQUET LOCATION 'hdfs://test'
"""
from simple_ddl_parser import DDLParser
parse_results = DDLParser(ddl).run(output_mode="hql")

**Expected behavior**
Response should not be empty.

[2021-09-16 18:42] kukigai opened #65 "When DDL has TBLPROPERTIES, result is empty"
**Describe the bug**
When DDL has TBLPROPERTIES, result is empty

**To Reproduce**
ddl = """
CREATE EXTERNAL TABLE test (
job_id STRING COMMENT 'test'
)
STORED AS PARQUET LOCATION 'hdfs://test'
TBLPROPERTIES (
  'parquet.compression'='SNAPPY')
"""
from simple_ddl_parser import DDLParser
parse_results = DDLParser(ddl).run(output_mode="hql")

**Expected behavior**
non empty result

[2021-09-16 18:47] xnuinside commented on #65
@kukigai thanks for DDL sample, support for TBLPROPERTIES was not added yet, I will add

[2021-09-16 18:50] kukigai opened #66 "Multi partition is not handled"
**Describe the bug**
Multi partition is not handled

**To Reproduce**
ddl = """
CREATE EXTERNAL TABLE `test` (
    `test`   STRING NULL COMMENT 'xxxx',
)
PARTITIONED BY (snapshot STRING, cluster STRING)
STORED AS PARQUET LOCATION 'hdfs://xxxx';
"""
from simple_ddl_parser import DDLParser
parse_results = DDLParser(ddl).run(output_mode="hql")

**Expected behavior**
non empty json response

[2021-09-16 18:54] kukigai commented on #65
another example

ddl = """
CREATE EXTERNAL TABLE `test` (
    `test`   STRING NULL COMMENT 'xxxx',
)
STORED AS INPUTFORMAT
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION
  'hdfs://xxxx'
"""
from simple_ddl_parser import DDLParser
parse_results = DDLParser(ddl).run(output_mode="hql")

[2021-09-16 19:22] xnuinside commented on #66
I will take care on all issues tomorrow, if you have something else - feel free to add samples, to add more in second release :) and thanks for the reports one more time @kukigai

[2021-09-16 20:30] kukigai commented on #66
@xnuinside this is all i found.  Thanks for your quick turnaround!

[2021-09-17 23:44] xnuinside commented on #64
@kukigai fixed in 0.19.6, version is released, added ? to test - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L1609. Feel free to open new issue if needed anything more.

[2021-09-17 23:44] #64 closed

[2021-09-17 23:45] xnuinside commented on #66
fixed in 0.19.6, released, test added - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L1652 @kukigai

[2021-09-17 23:45] #66 closed

[2021-09-17 23:46] xnuinside commented on #65
same, in 0.19.6, test - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L1707

[2021-09-17 23:46] #65 closed

[2021-09-17 23:51] xnuinside commented on #63
@kukigai this most sad ticket, I add some fixes in 0.19.6 but anyway because of python specific there is some complicated things. Escaping characters are showed only in raw strings in python, but if pass text as normal string firstly and when convert it to raw string (under the package logic) it will not work, because escaping symbols dropped immediately in normal string.

So there is 2 options ho

[2021-09-18 00:18] kukigai commented on #63
thanks!  yeah, i can workaround it using one of the option.

[2021-09-18 00:20] kukigai opened #68 "semi colon in COMMENT is not handled"
**Describe the bug**
semi colon is not handled

**To Reproduce**
ddl = """
CREATE EXTERNAL TABLE `test` (
    `test`   STRING NULL COMMENT 'test;',
)
COMMENT 'test'
"""
from simple_ddl_parser import DDLParser
parse_results = DDLParser(ddl).run(output_mode="hql")

**Expected behavior**
Non-empty result

[2021-09-18 02:35] kukigai opened #69 "'STORED AS INPUTFORMAT', 'OUTPUTFORMAT', and 'ROW FORMAT SERDE' is not supported"
**Describe the bug**
'STORED AS INPUTFORMAT' and 'OUTPUTFORMAT' is not supported

**To Reproduce**
ddl = """
CREATE EXTERNAL TABLE test (
test STRING NULL COMMENT 'xxxx',
)
ROW FORMAT SERDE
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT
'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT
'org.apache.hadoop.hive.ql.io.parquet.MapredPar

[2021-09-18 07:02] #63 closed

[2021-09-18 07:03] xnuinside commented on #68
Oh! Symbols!!! :))

[2021-09-18 17:17] xnuinside commented on #69
ROW FORMAT SERDE - supported, if you will try `CREATE EXTERNAL TABLE test (
test STRING NULL COMMENT 'xxxx',
)
ROW FORMAT SERDE
'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'` you will got the result,  but OUTPUTFORMAT & STORED AS INPUTFORMAT - not, I will add them

[2021-09-18 18:40] xnuinside commented on #69
@kukigai, support added in 0.19.7 (already released), test here - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L1769

[2021-09-18 18:40] #69 closed

[2021-09-18 18:41] xnuinside commented on #68
fixed in 0.19.7, test here - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L1639

[2021-09-18 18:41] #68 closed

[2021-09-22 13:38] gliptak opened #75 "support for Snowflake Terraform provider column(?) format generation"
**Is your feature request related to a problem? Please describe.**

Many DB tools generate `DDL` (with various extensions) and looking for conversion into Snowflake Terraform format

**Describe the solution you'd like**

Support https://registry.terraform.io/providers/chanzuckerberg/snowflake/latest/docs/resources/table#nested-schema-for-column

Example syntax:

[code]
or maybe support for `snowfl

[2021-09-22 14:10] xnuinside commented on #75
@gliptak I can create a separate tool for this. I pretty sure that it must be a separate from parser, just use it. I can do it on this weekends. Something like ddl-to-tf-snowflake-table. I have already table-meta(https://github.com/xnuinside/table-meta ) that map in simple way output from ddl parser, so only one thing that I should do - it's create a mapping between table-meta columns and expected

[2021-09-22 15:03] gliptak commented on #75
@xnuinside thank you for the pointer to https://github.com/xnuinside/table-meta. I will review

If `snowflake_table` is targeted for generation (with *hardcoded* values), than it is full cycle (can go DDL -> TF -> DDL).

If it is `snowflake_table_column` only, might fit better with `table-meta`. For my usecase, I'm thinking of substituting only a columns into a TF maintained separately

[2021-09-23 10:19] walkman90 opened #76 "Support CHECK constraint with procedure call in it"
Example

[code]

Check constraint works well if there is no procedure call in it (my_function).
With procedure call it leads to an empty result `[]`

[2021-09-23 10:21] xnuinside commented on #76
@walkman90 thanks for the bug report, I will take care about it at the evening

[2021-09-23 19:02] xnuinside commented on #76
I added fix & test for test case https://github.com/xnuinside/simple-ddl-parser/blob/v0.20.0_release/tests/test_simple_ddl_parser.py#L2047. I will release it in version 0.20.0 - I planned to release it on this weekends. I will publish here update, than it will be available on pypi.

[2021-09-27 07:51] xnuinside commented on #76
@walkman90 fix was released, but in version 0.19.8 ) - https://pypi.org/project/simple-ddl-parser/ . If you will find anything else - fill free to open the pr

[2021-09-27 07:51] #76 closed

[2021-09-27 07:52] xnuinside commented on #75
did not have a chance to start working on this last weekends ( sorry

[2021-09-27 12:15] gliptak commented on #75
@xnuinside no worries. please let me know if/how I might help out

[2021-09-28 10:05] lapter57 opened #78 "Unexpected logs"
Hi, with the new version 0.19.8 I get unexpected logs when calling `DDLParser(...).run(...)`. For example:
[code]

[2021-09-28 11:49] xnuinside commented on #78
Ah, sorry for this, will clean it up today in 0.19.9 and will add a test for log output

[2021-09-29 06:29] xnuinside commented on #78
@lapter57  released 0.19.9 with issues fix https://pypi.org/project/simple-ddl-parser/. Thanks for the report!

[2021-09-29 06:29] #78 closed

[2021-09-29 12:59] harusamee opened #80 "Less output with 'on update' string"
**Describe the bug**
The `sdp` command generates less output than normal when a input file contains the string 'on update'

**To Reproduce**

1. install from pip
[code]
2. Run `sdp` command
[code]

**Expected behavior**
Output json like following with some `on update` key...

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04 LTS

[2021-09-29 13:08] xnuinside commented on #80
@harusamee hi! thanks for the report, I think, the reason in function after on update, because https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_references.py#L75 here test without function. I will fix it tomorrow evening and will release patch version with fix.

[2021-09-29 18:40] xnuinside commented on #80
okay,  I found the reason : problem that on update supported only with references

[2021-09-30 02:11] KrunchMuffin opened #81 "omymodels.errors.NoTablesError: No tables was found in DDL input."
**Describe the bug**
No tables was found in DDL input

**To Reproduce**
Steps to reproduce the behavior:
Generate my DDL from SSMS and import to OMM

**Expected behavior**
find tables to parse

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Win10
 -
[script.sql.txt](https://github.com/xnuinside/simple-ddl-parser/files/7256078/script.sql.txt)

[2021-09-30 04:06] xnuinside commented on #81
@KrunchMuffin hi, thanks for the report. Thanks for the sample) it will take a some time to support all things a huge ddl) by the way, I see [] near column names for the first time. What is DB that generate this?

[2021-09-30 04:11] KrunchMuffin commented on #81
That is MS sql server. If it encounters words that are reserved or columns
abd tables with hyphens, it will wrap them in square brackets so it doesn't
interfere. If you made a column called desc it would do [desc] since that
is a reserved word .

On Thu, Sep 30, 2021, 12:06 AM Iuliia Volkova ***@***.***>
wrote:

[2021-09-30 05:59] xnuinside commented on #81
@KrunchMuffin got it, thanks :)

[2021-10-03 18:44] xnuinside commented on #80
@harusamee version 0.20.0 released with support MySQL on update statement. Test added here: https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_mysql.py#L58

If you will need anything else or will see a bug - feel free to open a new issue. Thanks for the report one more time!

[2021-10-03 18:44] #80 closed

[2021-10-03 18:46] xnuinside commented on #81
I started to add some statements in v0.20.0 version that I found in your script. Really thanks for the sample. But still a lot of work. I will report when will be the version, that support all of MSSQL things from your script.

[2021-10-04 13:19] KrunchMuffin commented on #81
How long before you add it to omymodels?

[2021-10-05 20:31] fredcwbr opened #83 "Unsupported "DEFAULT NEXT VALUE FOR" & ON <DESTINATIONCLAUSE>"
**Unsupported parse of NEXT VALUE FOR and ON <STORAGEDESTINATION> on CREATE TABLE**

When CREATE TABLE uses DEFAULT NEXT VALUE or script does user storage options (ex.: ON PRIMARY) , the parser does not output any results.,

**To Reproduce**

from simple_ddl_parser import DDLParser

ddl_Orig = '''
CREATE TABLE [dbo].[SLIPEVENTO] (
    [cdSLIP] [bigint] NOT NULL
        DEFAULT NEXT VALUE FOR [dbo]

[2021-10-06 03:34] xnuinside commented on #83
@fredcwbr hi, thanks for reporting the issue. Will work on it.

[2021-10-06 03:35] xnuinside commented on #81
@KrunchMuffin I plan to add full support to queries from your sql file in 0.21.0 version, release it and update omymodels after that. I need few days more for that.

[2021-10-06 13:20] xnuinside commented on #83
@fredcwbr , thanks for samples, will work on them

[2021-10-06 18:53] xnuinside commented on #81
@KrunchMuffin  I released 0.21.0. This this version your full script is parsed well. Tomorrow I will work on Omymodels updates. Will ping you here after release new version in OMyModels

[2021-10-06 19:03] xnuinside commented on #83
@fredcwbr I released 0.21.0 version - https://pypi.org/project/simple-ddl-parser/. It correct parses ddl samples that you write directly in issue. About Types - problem was in 'AS TABLE'  - previously was added only AS ENUM, AS OBJECT and several more. Now AS TABLE also supported.

I checked the script that you attached - it contains a lot of statements ) and also includes VIEW, Procedures & etc I

[2021-10-07 10:30] fredcwbr commented on #83
Thank you very much for your work .,  it's a saver.,

DML on DB generating scripts are, in general, helpers to pre-load; They don't affect the DB structure "per-se" ; Considering the goal of DDL , considering it as DMLCOMMENT or just COMMENT would be fine. After all they do not contribute do DB Structure.
If some one does argue about tricks ant trinkets used on such things as dynamic DDL, thats ju

[2021-10-07 10:31] #83 closed

[2021-10-07 13:26] fredcwbr opened #85 "MSSQL SEQUENCE syntax correction"
**Describe the bug**
On MSSQL , SEQUENCE definition has the optional |  INCREMENT BY <number>  and  START WITH <number>

Traceback (most recent call last):
  File "/home/fred/tmp/testeparse.py", line 16, in <module>
    result = DDLParser(s0).run()
  File "/home/fred/.local/lib/python3.9/site-packages/simple_ddl_parser/parser.py", line 217, in run
    tables = self.parse_data()
  File "/home/fred/

[2021-10-08 15:50] #85 closed, assigned to nobody

[2021-10-10 22:33] xnuinside commented on #81
@KrunchMuffin sorry for taken a long time, I thought release it with 0.11.0 version, but updates that I planned taken much more time.So just released version 0.10.1 https://pypi.org/project/omymodels/  with updated dependency to new simple-ddl-parser 0.21.1. But need also made in OMyModels changes - to remove [] from names before generate code.. it will takes more time. I created issue for this: h

[2021-10-10 22:33] #81 closed

[2021-10-26 11:00] ankitdata opened #88 "getting an empty output for CREATE SCHEMA and OPTIONS"
Hi @xnuinside
I was trying to parse this ddl but getting an empty [ ] output

[code]
Not supporting CREATE SCHEMA IF NOT EXISTS and it is expecting only one OPTIONS

CREATE SCHEMA IF NOT EXISTS `name-name`
OPTIONS (
    location="path"
    );
CREATE TABLE `name.hub.REF_CALENDAR` (
  calendar_dt DATE,
  calendar_dt_id INT,
  fiscal_half_year_day_no INT,
  fiscal_half_year_end_dt DATE,
  fiscal_half

[2021-10-30 13:17] gtanzi opened #89 "keep "<" and ">" special char in columns names when properly quoted"
First of all, wanna compliment you for this helpful tool!

I came into a (possibly?) minor bug when trying to parse an hql file containing column names with special characters "<" or ">" properly quoted like:
`something<2%` float
I found out this is due to "parser.pre_process_line" that insert spaces around "<" and ">" if "(" not in line.
Possible solution is not to insert spaces if "<" ">" are in

[2021-10-30 15:00] xnuinside commented on #89
@gtanzi , hi! Thanks for warm words and reporting the issue. I will be back from vacation on 8 of November and will take a look in the big :) thank you!

[2021-11-01 18:33] xnuinside commented on #88
@ankitdata, can you provide some more details just for my knowledge) I tried to google in that dialect you can create a schema with options, but failed. Can you send some link for me about it? Thank you!

[2021-11-02 05:29] xnuinside commented on #88
okay, I found it - it's BigQuery, I will add support

[2021-11-02 06:56] ankitdata commented on #88
Yes it's BigQuery ddl.
I Notice for OPTIONS it's showing `distkey `after converting to json
`"distkey": "location=\"path\"`
_here I kept only one OPTIONS in ddl to check my converted json_

Also I would like to know
in OPTIONS is it supports blank spaces
for eg-
[code]
for me it doesn't work if there is space in between foo foo
If you can add support to pass above ddl file would be great.

Thanks

[2021-11-02 07:46] kalyan939 commented on #88
Hi @xnuinside
Thanks for your support.

In addition to the above mentioned issue we are also facing below mentioned issues while converting Big Query DDL to json.
1. In Big Query DDL we have field level description, If we add any options inside field it is not converting. And below i have provided one of the field for your reference.
    Eg: calendar_dt DATE OPTIONS(description="Field Description"

[2021-11-02 08:45] xnuinside commented on #88
@kalyan939 @ankitdata I planned to add support for BigQuery, but did not do it yet. I will work on it as soon as I will be back from vacation on 8 November

[2021-11-11 19:50] n2ygk opened #90 "Fails to parse if DDL lacks semicolon or GO between statements."
**Describe the bug**
Fails to parse some ddl if there's no semicolon or GO in between statements.

This silently fails to produce output:
[code]
While this succeeds (adds a semicolon).

[code]

**To Reproduce**
[code]

**Expected behavior**
Parser output or an error message or non-zero exit code.

[2021-11-12 06:50] xnuinside commented on #90
hi @n2ygk to be honest )) before your issue I leave all the time with thoughts that between different statements you need separator or you will get syntax error )

[2021-11-12 12:21] n2ygk commented on #90
I thought so too. Until I came across MS-SQL examples that work with SQLCMD.

On Fri, Nov 12, 2021 at 1:50 AM Iuliia Volkova ***@***.***>
wrote:

[2021-11-12 12:29] xnuinside commented on #90
@n2ygk I will add support of this in next release

[2021-11-12 15:33] n2ygk opened #91 "Failure to parse output from SSMS"
**Describe the bug**
Here's an example of (silently) failing to parse DDL generated by MS SQL Server Management Studio. Other DDL output from SSMS parses just fine. So I'm not sure where this one is failing.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Out in `schemas/aud_schema.json` that contains the table info.

**Additional context**
Try it with this:
[code]

[2021-11-13 08:50] xnuinside commented on #91
@n2ygk I checked and I see, that just was not added support for PRIMARY KEY CLUSTERED  without constraint name before it. Working on it right now, I'm planning that I will release a new version tomorrow evening with fixes for both issues

[2021-11-14 21:30] xnuinside commented on #89
@gtanzi about spaces - I added them because of some issues with parsing HQL structures like this - ARRAY<structcolx:string,coly:string>. I will work on more normal workaround and will try to remove it.

[2021-11-14 21:44] xnuinside commented on #91
@n2ygk fixes for both issues were released in version 0.22.0 - https://pypistats.org/packages/simple-ddl-parser . If you will find anything more - please feel free to open new issue and thank you one more time!

[2021-11-14 21:44] #91 closed

[2021-11-14 21:44] xnuinside commented on #90
@n2ygk fixes for both issues were released in version 0.22.0 - https://pypistats.org/packages/simple-ddl-parser . If you will find anything more - please feel free to open new issue and thank you one more time!

[2021-11-14 21:44] #90 closed

[2021-11-15 04:09] ankitdata commented on #88
Hi @xnuinside
Is there any update on BigQuery support adding to simple-ddl-parser.

[2021-11-15 06:04] xnuinside commented on #88
@ankitdata , hi! I started work on it in yesterday release https://github.com/xnuinside/simple-ddl-parser/releases/tag/v0.22.0, I fixed some thing on it like strings now parsed correctly - does not matter how much spaces inside (like in your example - OPTIONS (
description="Calendar table records reference list of calendar dates and related attributes used for reporting."
);) and OPTIONS statement

[2021-11-15 08:10] ankitdata commented on #88
Hi @xnuinside ,
I checked v0.22.0 it is working fine with different DDL's as well.

CLUSTER BY issue I noticed > it's not working if it is not in brackets.
- If it is eg- `CLUSTER BY __id `  it wont work
- If it is in brackets eg- `CLUSTER BY (__id)` then only it is working.

could you please include this as well in you next release.

Thanks .!

[2021-11-15 08:17] xnuinside commented on #88
@ankitdata of course! thanks for testing & reporting - it's really really helps make library better

[2021-11-16 18:20] xnuinside commented on #88
@ankitdata @kalyan939, I released 0.22.1 https://pypi.org/project/simple-ddl-parser/ with fix for Cluster by & OPTIONS in column . Please check. Tests added - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_bigquery.py#L242 . If there any more issues? or we can close the issue?

[2021-11-16 20:16] n2ygk opened #94 "Upper case "CREATE" in column name ends table parse"
**Describe the bug**
It looks like you are seeing CREATE and breaking the table DDL parse...

**To Reproduce**

t1.sql:
[code]
t2.sql:
[code]
[code]

vs:
[code]
**Expected behavior**
A capitalized substring field name that is CREATE shouldn't break the parser.

[2021-11-16 20:19] n2ygk commented on #94
Looks like your tokenizer is misidentifying keywords even when they are no separated by white space.

[2021-11-16 20:21] xnuinside commented on #94
@n2ygk no, ptoblem not in tokenizer, lol, problem in changes that I did in 0.22.0 version to get possible parse statements without ; or GO. I will fix it tomorrow and release the patch version. thanks for catching this

[2021-11-16 21:39] n2ygk commented on #94
Haha so it was my fault :-)

On Tue, Nov 16, 2021 at 3:21 PM Iuliia Volkova ***@***.***>
wrote:

[2021-11-17 07:05] xnuinside commented on #94
@n2ygk fixed  in 0.22.2, test added: https://github.com/xnuinside/simple-ddl-parser/pull/95

[2021-11-17 11:43] ankitdata commented on #88
@xnuinside I tested again with other ddl many issues resolved
Thanks for quick fix.

1. Now CREATE SCHEMA & CREATE TABLE is not returning in output json
2. And OPTIONS can be max 2 ? bcz if it is more than 2 then it is not returning in output json

please check and let me know.

Thank You.

[2021-11-17 12:25] xnuinside commented on #88
@ankitdata can you show sample for the 1st point because all tests passed - what mean ‘not returning?’

[2021-11-17 12:48] kalyan939 commented on #88
@xnuinside , In the output json file we are not able to get schema/project_id and dataset name
Eg: `project_id.dataset.table_name`
Output is missing project_id and dataset name

[2021-11-17 13:08] xnuinside commented on #88
@kalyan939 maybe problem in 2 dots, I think, a have tests only for dataset.table_name. I will check at the evening & will fix it

[2021-11-17 13:59] xnuinside commented on #94
@n2ygk Alan, I will close the issue - check my comment in PR) it was already released at the morning

[2021-11-17 13:59] #94 closed

[2021-11-17 14:06] kalyan939 commented on #88
Hi @xnuinside,
Below i have mentioned my example query and output for your reference\

----------------------------------------------------------------------------------------------------------
Input DDL Query
------------------
CREATE SCHEMA IF NOT EXISTS `project.calender`
OPTIONS (
    location="project-location"
    );
CREATE TABLE `project.calender.REF_CALENDAR` (
  calendar_dt DATE,
  calend

[2021-11-17 14:13] xnuinside commented on #88
@kalyan939 thanks, samples very useful

[2021-11-17 16:01] xnuinside commented on #88
@ankitdata  I added test for multiple OPTIONS it works on version 0.22.1 as expected, maybe problem in OPTION value, maybe it has some specific format? test here https://github.com/xnuinside/simple-ddl-parser/pull/96/files

[2021-11-17 18:32] xnuinside commented on #88
@kalyan939  @ankitdata  I released 0.22.3 version. Check please, I added bunch of tests: https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_bigquery.py#L667, https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_bigquery.py#L577, https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_bigquery.py#L229 and etc

[2021-11-18 08:30] ankitdata commented on #88
@xnuinside
I tested on latest 0.22.3 version.
few things I notice
1. In `CREATE TABLE`
 if `my.data-abc-foo` then in this case whatever after dot is I am getting in json
  out put = `"schema":"data-abc-foo"` _here my. is missing.
2. In `CREATE SCHEMA IF NOT EXISTS`
    out put = `"schema":"my"` that is showing as schema which is coming from table name I checked
also please could you check OPTIONS

[2021-11-20 08:30] xnuinside commented on #88
@ankitdata I released 0.22.4 https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_bigquery.py#L755 - test for multiple OPTIONS statement & test for project_id in schema name - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_simple_ddl_parser.py#L2326

[2021-11-20 20:41] xnuinside commented on #89
@gtanzi sorry that it took so much time - worked on another issues, I fixed this problem in 0.22.5. https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L1888 - test added. Feel free to open the new issue if needed something. Thank you!

[2021-11-20 20:41] #89 closed

[2021-11-23 17:36] xnuinside commented on #88
@ankitdata I'm closing this issue. If you will find anything new - feel free to open the new issue and thank you!

[2021-11-23 17:36] #88 closed

[2021-11-26 23:55] bjmc opened #99 "Fails to parse output from pg_dump?"
I'm not sure if I'm using this wrong, but `DDLParser()` fails to parse the attached PostgreSQL schema output from `pg_dump`

[schema.txt](https://github.com/xnuinside/simple-ddl-parser/files/7610921/schema.txt)

Traceback:

[code]

Please feel free to close this issue if you don't intend to support this use-case.

[2021-11-27 07:44] xnuinside commented on #99
@bjmc hi, thanks for reporting the issue! I will work on it today & release a fix after.

[2021-11-27 13:41] xnuinside commented on #99
@bjmc thanks for the sample - I added support for bunch cases based on your example. Now it parsed and you can get output. Please, use version 0.22.6 it is released - https://pypi.org/project/simple-ddl-parser/

[2021-11-27 14:53] bjmc commented on #99
Wow, thanks for that incredibly fast response! I'll give the new version a test tomorrow and if it works, I'll close this issue.

Thanks for your work on this project @xnuinside - it's very ambitious, and as far as I can tell, no one else is even attempting to offer something similar.

[2021-11-28 16:13] bjmc commented on #99
This is a big help. It parses without throwing an exception now! I think there's still room for improvement in understanding the meaning of the Postgres schema. For example, the DDL contains

But in the parsed output, we see:

[code]
But the bug I reported is fixed, so closing this issue.

[2021-11-28 16:13] #99 closed

[2021-11-28 16:22] xnuinside opened #101 "ALTER Constraint UNIQUE must be showed in column also"
Issue was reported here: https://github.com/xnuinside/simple-ddl-parser/issues/99

This is a big help. It parses without throwing an exception now! I think there's still room for improvement in understanding the meaning of the Postgres schema. For example, the DDL contains

ALTER TABLE ONLY public.accounts ADD CONSTRAINT accounts_username_key UNIQUE (username);

But in the parsed output, we see:

[2021-11-28 16:23] xnuinside commented on #99
@bjmc   I created separate issue for this - https://github.com/xnuinside/simple-ddl-parser/issues/101 . I will fix it in future release.

[2021-12-24 06:22] xnuinside commented on #101
problem was in ALTER TABLE ONLY (only was not supported)

[2021-12-24 11:56] xnuinside commented on #101
fixed in 0.23.0 release

[2021-12-24 11:56] #101 closed

[2022-01-03 11:29] swiatek25 opened #103 "Adding CLUSTERED BY to HQL parser"
Would that be possible to add CLUSTERED BY to the parser for HQL dialect?

Do you have any contribution guide so I could follow some instructions and do it by myself?

**Additional context**
* https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL+BucketedTables

[2022-01-03 12:31] xnuinside commented on #103
@swiatek25 you can add it by yourself - needed only to add test in test cases with query and make required changes in code, but it's requireded some wish to work with ply - https://github.com/dabeaz/ply . when just open PR - I will review.

anyway, I can add support for this, I''m not sure that I will be able to do it today, but maybe tomorrow

[2022-01-03 20:51] swiatek25 commented on #103
Hi, thanks for the response. That would take some time for me (getting familiar with ply). If I could count on your contribution I would really appreciate. Thanks in advance.

[2022-01-04 15:13] xnuinside commented on #103
@swiatek25  I released version 0.24.0 with support - https://pypi.org/project/simple-ddl-parser/. Tests added: https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L2006. If you will find any new issues or needed something to add - feel free to open new issue or PR. And thanks one more time for contribution :)

[2022-01-04 15:13] #103 closed

[2022-01-17 21:37] nurih opened #108 "Table name which is also a "reserved word" fails to parse"
Consider:
[code]
The first 2 lines understand a table named  "index" is intended.
The third line classifies the word "index" as the token 'INDEX' [probably here](https://github.com/xnuinside/simple-ddl-parser/blob/04bb61a7c20a7542340a8834fafe182522783177/simple_ddl_parser/ddl_parser.py#L67).

Though not a good or recommended practice, table names are allowed to be arbitrary strings, even reserved

[2022-01-17 22:10] xnuinside commented on #108
@nurih I will fix it in next release, it should not recognise it as INDEX token in this statement.

[2022-01-19 15:07] xnuinside commented on #108
@nurih can you clarify for me about 'col1:int' syntax, what DB support it? did not saw before that column name & type separated by ':'

[2022-01-19 15:21] xnuinside opened #109 "Add raise error if statement cannot be parsed & add arg to switch from 'silent' fail to error raising"

[2022-01-19 15:51] xnuinside commented on #108
@nurih I added the test for case """create table index (col1 int);
    create table foo.[index] (col1 int);
    create table foo.index (col1 int);
        """ https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_simple_ddl_parser.py#L2389 and it works correctly in version 0.24.2 (already released), but syntax (col1:int) is not supported (question upper)

[2022-01-19 22:32] nurih commented on #108
`(col1:int)` was a mistake. Should have been `(col1 int)`.

[2022-01-19 22:33] nurih commented on #108
Very happy for this quick fix! Thank you!

[2022-01-20 04:33] #108 closed

[2022-02-03 18:57] James-Matthew-Watson opened #112 "Postgres DEFAULT statement with "at time zone" causes entire CREATE statement to be omitted from results"
**Description**

When trying out simple-ddl-parser on some existing DDL, I attempted to parse 4 CREATE statements but I would only get 3 results.  No exception was produced.  By process of elimination, I found that this line was the source of the issue:

`created_timestamp      TIMESTAMPTZ NOT NULL DEFAULT (now() at time zone 'utc'),`

However. with the following, the CREATE statement is parsed as

[2022-02-04 07:32] xnuinside commented on #112
@James-Matthew-Watson , hi! Thanks for explicit description & ddl samples. I will add support for statements with ‘at time zone’. About the exception there is a another issue for that. Problem that there is no way really to identify issue why it is not parsed. So it will be error raise, but with common error like “Hey, looks like empty output in parser, possibly some statements unsupported”. Maybe

[2022-02-07 21:09] xnuinside commented on #112
@James-Matthew-Watson  fix was added at version 0.25.0 https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_simple_ddl_parser.py#L2507 sorry for the delay - was on exam session & became sick(. If you will have any other issues - feel free to open the ticket. Also, in version 0.25.0 was added flag 'silent'. You can pass to parser 'silent=False' and it will raise the errors

[2022-02-07 21:09] #112 closed

[2022-02-07 21:10] xnuinside commented on #109
done in 0.25.0 version

[2022-02-07 21:10] #109 closed

[2022-02-14 16:23] paulochf opened #116 "Debug option"
**Is your feature request related to a problem? Please describe.**
I tried to use the library to parse HQL DDLs, but some of them I got the error below

[code]

It was hard to find the problem in a big DDL. After finding another shorter example, I could isolate the cause and figured out that the following comment was the issue.

[code]

Hence, some debugging parameters to see which error lexer/yac

[2022-02-14 18:35] paulochf commented on #116
No rush, @xnuinside . As I showed, I figured out the problem. I only wanted to leave the suggestion.

[2022-02-22 17:54] jpugliesi opened #117 "Support Spark SQL (or HQL `USING` clause)"
**Is your feature request related to a problem? Please describe.**
Spark SQL DDL is very similar to HQL, with a notable difference being that Spark SQL supports a `USING` clause in `CREATE TABLE` statements (see the [DDL docs here](https://spark.apache.org/docs/latest/sql-ref-syntax-ddl-create-table-datasource.html)).

The `USING` clause is importantly used for table definition in many storage for

[2022-02-27 19:34] xnuinside commented on #117
@jpugliesi  hi, I saw issue, sorry for the long answer and thanks for reporting this. But I sure that I cannot work on it in the nearest week. I think you know that is going on with Putins army.. we tries to leave country with family, I hope 2 weeks later I can work on it. sorry for the delay

[2022-03-04 10:28] sr1dar opened #118 "Partitions are not handled"
**Describe the bug**
The following syntax of Partition definition is not handled, 'parse_from_file' Returns an empty list

**To Reproduce**
Steps to reproduce the behavior:

Add this snip to a simple create table query:

PARTITION BY col(id)
          (
          PARTITION a VALUES('12') WITH (appendonly='false'),
          PARTITION b VALUES('9') WITH (appendonly='false')
          );

**Expected

[2022-03-04 16:56] couling opened #119 "Parse adding a primary key as an alter table statement"
I'm trying to parse a sizeable DDL script with the primary key detached in separate `alter table` statements
[code]
I notice it picks up the additional indexes, but at the moment `simple-ddl-parser` does not pick up the primary key when it's added in this way.

[2022-03-09 12:24] xnuinside commented on #118
@sr1dar  hi, sorry for the delay, can you write in what DB this syntax is used? or better send the link to the doc :)

[2022-03-09 15:50] sr1dar commented on #118
@xnuinside Hello, This syntax is used in Green Plum Database (GPDP)
Here is the link: [https://gpdb.docs.pivotal.io/5290/admin_guide/ddl/ddl-partition.html](url)

[2022-03-09 16:16] sr1dar commented on #118
Also the same problem exists when there is a **check constraint along with a primary key constraint,**
CONSTRAINT new_check CHECK ((id = (3)::numeric))

**and when INHERIT is present in the DDL:**
INHERITS(schemaname.tablename)

Both are GPDB syntaxes, Should I create a new issue for this? (Sorry I'm new to github)

[2022-03-11 13:23] andy65535 opened #120 "Incorrect JSON wrapper break JQ"
**Describe the bug**

Commonly used Linux command line JQ tool doesn't work with JSON which prepared by sdp, because jq expect that wrapper is double quote.
Example of real GCP BigQuery DDL:

DDL:

[code]
OUTPUT:

[code]

JQ run:

[code]

Followed JSON is OK:

[code]

Here is few issues:
1. JQ expect that all values wrapped (None, False, True - as well)
2. JQ expect that wrapper will be double quo

[2022-03-11 19:08] xnuinside commented on #120
@andy65535  Hi! This is because in stdout output is not JSON, but python dict (and because of that you see None, in JSON it must be null). If you want JSON - remove flag --no-dump and it will dump json to the file. I didn't thought about use case that someone need json in stdout :) I will add in next release flag --json to get output in stdout as json, not Python object.

[2022-03-12 05:16] tomc-goodrx opened #121 "CHECK with IN clause does not parse"
Using the `IN` keyword in a `CHECK` causes parsing to fail. For example:

[code]
Works but with an `IN` statement doesn't:
[code]
With `silent=False` we get an error like:
[code]

Using OR statements becomes unwieldy when there are more than a handful of options in the enum so it would be nice to support this. Thanks.

[2022-03-12 05:17] xnuinside commented on #121
@tomc-goodrx thanks for reporting, working now on new version - will add support for IN statement in CHECK.

[2022-03-25 15:40] burakuyar opened #123 "Some columns from Postgres DDL are not parsed"
**Describe the bug**
Some columns with type `character varying` are not parsed when `NOT NULL` constraint does not exist for the column. Please see 3 example inputs and outputs below.
`CREATE TABLE` statements are generated by `pg_dump` command in `Postgres`.

**To Reproduce**
run `result = parse_from_file(path_to_ddl_sql)` for the inputs below:

- Input-1:
[code]
- Output-1: There were 3 columns

[2022-03-26 11:25] andy65535 commented on #120
thank you for replay!
I removed --no-dump and JSON now formatted as expected.
But, point 3 from my initial report still in place:
... TABLE `dataset.table`
parser leave back quotes in final JSON:
[code]

[2022-03-28 09:17] burakuyar commented on #123
Hi @xnuinside , do you think this is an easy-to-fix issue?
I will try to check the root cause but I am not very experienced with lexers.

[2022-03-28 14:20] xnuinside commented on #123
@burakuyar already fixed https://github.com/xnuinside/simple-ddl-parser/pull/124  & released at 0.26.0 version. Sorry for the long answer & long release (have crazy last 2 month). Test was added - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_simple_ddl_parser.py#L2571. If you will find any new issues - feel free to open the issue :) I hope I will fix it faster next time.

[2022-03-28 14:20] #123 closed

[2022-03-28 14:28] xnuinside commented on #120
@andy65535 hi, I'm ready to kill myself for the my previous answer to you! first of all ))) you can get json output with python code ))  (I really need spend time on documentation improvement) - you can do it like this (sample added in README): https://github.com/xnuinside/simple-ddl-parser#get-output-in-json

second - to get output without artifacts like ` at the end you can use flag "normalize_n

[2022-03-28 14:34] xnuinside commented on #117
It was hard month... I just released v0.26.0 - https://pypi.org/project/simple-ddl-parser/  and it contains support for USING statement. Test sample: https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_spark_sql.py#L6 if you will find any statements that does not work correctly - feel free to open the new issue @jpugliesi

[2022-03-28 14:34] #117 closed

[2022-03-28 14:35] xnuinside commented on #121
@tomc-goodrx :( it was hard & long month, sorry for the delay, just released v 0.26.0 that contains fix https://pypi.org/project/simple-ddl-parser/ and test - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_checks.py#L10 if will be any more issues, feel free to open new issue. And sorry for the delay one more time.

[2022-03-28 14:35] #121 closed

[2022-03-28 14:37] xnuinside commented on #119
hello, sorry for delay without answer ) I thought this month will never share to me any time to fix issues.. but I released 0.26.0 with fix, test: https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_alter_statements.py#L1718. Sorry one more time for the delay, feel free to open PR if you will find any new issue

[2022-03-28 14:37] #119 closed

[2022-03-28 14:50] burakuyar commented on #123
Thank you very much! For sure, I will let you know if I face unexpected cases :)

[2022-03-29 06:11] xnuinside commented on #116
@paulochf released in 0.26.0 version where debug statement is updated. Thank you for you suggestion!

[2022-03-29 06:11] #116 closed

[2022-04-07 11:10] lapter57 opened #125 "LOCATION and TBLPROPERTIES clauses in CREATE TABLE LIKE statement"
Hi! If i create a table using the LIKE statement and add LOCATION and/or TBLPROPERTIES clauses to it, then returns `[]`.
[code]

[2022-04-07 11:48] xnuinside commented on #125
@lapter57 , hi! thanks for reporting, will take a look at the evening

[2022-04-22 20:13] mikeskov opened #126 "Multiple SERDEPROPERTIES fails"
**Describe the bug**
Entering multiple key/value pairs in SERDEPROPERTIES causes parsing to fail and return empty

**To Reproduce**
This works:
[code]
This doesn't:
[code]

**Expected behavior**
Multiple key/value pairs in SERDEPROPERTIES should in the row format properties dict.

[2022-04-24 08:02] xnuinside commented on #126
@mikeskov hi, thanks for reporting the issue, will work on it

[2022-04-24 08:51] xnuinside commented on #125
@lapter57  hi again! sorry for the delay, fix released with version 0.26.1, test added - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L2251 if will be anything new - feel free to open new issue :) and thanks for report one more time!

[2022-04-24 08:51] #125 closed

[2022-04-24 08:53] xnuinside commented on #126
@mikeskov   hi again!  fix released with version 0.26.1(https://pypi.org/project/simple-ddl-parser/), test added - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_hql_output_mode.py#L2203 if will be anything new - feel free to open new issue :) and thanks for report one more time!

[2022-04-24 08:53] #126 closed

[2022-05-03 14:29] stanorama opened #128 "Column name USER_COMMENT causes column parsing to end"
**Describe the bug**

There are 2 issues with parsing the enclosed create table statement in Snowflake.
1. The 'OR REPLACE' keywords cause the output to be blank.
2. The column with name 'USER_COMMENT' causes the column parsing to end so the output only includes the first column 'ASIN'.

Also a feature request: Support for constraint and table comment parsing

**To Reproduce**

[code]

[code]

[2022-05-03 19:19] xnuinside commented on #128
@stanorama thanks for reporting the issue, will work on it soon!

[2022-05-06 13:56] xnuinside commented on #128
@stanorama  one more time thanks for raising the issue, you help me to find a great bug ) problem was with all strings, that started with 'USE' and 'GO'. So it was really meaning issue. I fixed in 0.26.2 release & added tests - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_snowflake.py#L196. Please use 0.26.2 - already released. If you will find anymore problems - feel free t

[2022-05-06 13:56] #128 closed

[2022-05-06 14:07] xnuinside commented on #118
@sr1dar  sorry, I forgot to answer, I need time to add new dialect

[2022-05-26 17:07] rheophile10 opened #130 "MYSQL's AUTO INCREMENT not recognized by DDLParser"
[code]
output is
[code]
if we remove AUTO INCREMENT however, input is now
[code]

and output is
[code]

[2022-05-27 23:06] xnuinside commented on #130
@rheophile10 hi! Thanks for great description:) I will try to fix the issue during the weekends

[2022-06-06 12:32] devxor opened #131 "CREATE OR REPLACE TABLE not recognized by parser"
**Describe the bug**
CREATE OR REPLACE TABLE is not recognized. The parser returns empty list.

**To Reproduce**
I'm using "parse_from_file()". The DDL is from Snowflake DB.
Example of not working DDL:
[code]

**Expected behaviour**
See correct output.

[2022-06-07 09:39] xnuinside commented on #131
@devxor hi! thanks for reporting the issue, I merged fix https://github.com/xnuinside/simple-ddl-parser/pull/132 & already released it in version 0.26.3 - https://pypi.org/project/simple-ddl-parser/

[2022-06-07 09:40] #131 closed

[2022-06-07 10:23] devxor opened #133 "create OR REPLACE transient/temporary TABLE not recognized by parser"
**Describe the bug**
"create OR REPLACE transient/temporary table" not recognized by parser.
Thx for quickly adding the support for "OR REPLACE TABLE"!
It seems that the "OR REPLACE" is only working with the "TABLE", but not with the Snowflake specific "TRANSIENT TABLE" or "TEMPORARY TABLE". However the support for snowflake's transient/temporary table is there e.g. "create TRANSIENT/TEMPORARY tab

[2022-06-07 10:50] xnuinside commented on #133
@devxor aha ) because they are not added as statements - will do it today!

[2022-06-07 11:06] devxor commented on #133
Thx for the quick response!

[2022-06-08 10:11] rbanffy opened #134 "Generate output for Mermaid, Graphviz, PlantUML or other "graphics" format"
**Is your feature request related to a problem? Please describe.**
As part of a CI pipeline, it'd be useful to document SQL DDL as ER diagrams. Graphviz, Mermaid, PlantUML are all tools that can output graphics from a textual representation.

**Describe the solution you'd like**
Setting the output format to one of these should do the trick

**Describe alternatives you've considered**
I was about t

[2022-06-08 10:16] xnuinside commented on #134
@rbanffy hi, interesting topic, what I got quick in the mind, for example, exists: https://dbdiagram.io/ that uses https://www.dbml.org/home/ DBML language to draw ER diagrams. You can import SQL DDL in dbdiagram and it will auto convert to DBML & ER diagram
<img width="1019" alt="Screen Shot 2022-06-08 at 2 14 09 PM" src="https://user-images.githubusercontent.com/15959809/172592461-6b756405-ba59-

[2022-06-09 02:03] kimjj81 opened #135 "Support "& symbol""
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I have sql for initialize db and tables with tablespaces and functions.
& symbol can be used  in function  - bit and operator and with "tablespace" keyword in Vertica - like "CREATE TABLE ... TABLESPACE &DATASPACE"

**Describe the solution

[2022-06-09 05:12] xnuinside commented on #135
Hi @kimjj81, thanks for reporting the issue! can you provide some more details: in what DB allowed & in sql ddl? Can you just send link to the documentation. It will be really helpful. And to DATASPACE - where is it used? In what db. Thank you!

[2022-06-09 06:45] kimjj81 commented on #135
Hi @xnuinside
I have a legacy sql file to initialize DB - Vertica ( https://vertica.com/ )
In that file & used as below

[code]

Unfortunately, I don't know much about vertica, and I didn't find documents of 'TABLESPACE'.

Thanks for you reply.

[2022-06-09 08:00] xnuinside commented on #135
@kimjj81 got it, thank you, I will work on it

[2022-06-09 11:00] devxor commented on #133
@xnuinside Hi! Sorry for asking, but when you will have time for the fix? Thx!

[2022-06-09 11:03] xnuinside commented on #133
@devxor  sorry, didn't have a chance yesterday, will try today

[2022-06-09 14:18] rbanffy commented on #134
I was looking at the output code and it wouldn't be trivial to add this - the output module assumes (very reasonably) that the output will be some sort of SQL DDL. Would you mind if I tried?

[2022-06-10 07:20] xnuinside commented on #133
@devxor  it wasn't so fast as I expected )) need to work on it little bit today also

[2022-06-10 10:42] xnuinside commented on #133
already released on 0.26.4, test - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_simple_ddl_parser.py#L2772 and sorry for the delay :)

[2022-06-10 11:30] xnuinside commented on #133
I will close the issue, will free open new) if you have some special DDL you need to parse - you can share it full & I will check if something didn't supported yet, and will add it

[2022-06-28 23:46] kukigai opened #137 "Nest field like STRUCT is not handled"
I tried latest version simple-ddl-parser==0.26.4 but didn't work.

Sample schema.

CREATE EXTERNAL TABLE aaa.bbb (
    test ARRAY<STRUCT<xyz: STRING COMMENT 'xxxxxx',
     date: STRING COMMENT 'xxxxxxx'>> COMMENT 'xxxxxx',
)
COMMENT 'xxxxx'
PARTITIONED BY (date STRING)
STORED AS PARQUET LOCATION 's3://xxxxx'

[2022-06-29 07:28] xnuinside commented on #137
@kukigai  thanks for reporting the issue, I will take a look

[2022-07-01 06:52] ivbeg opened #138 "Permission denied warning on global install of the package and the first run in user mode"
**Describe the bug**
If you install package globally

**To Reproduce**
Steps to reproduce the behavior:
1. Run new clean installation "pip install simple-ddl-parser' without an any trace of the package in 'site-packages'
2. Check the folder and find that 'parsetab.py' file doesn't exist.
3. Run any script that calles simple_ddl_parser.parse_from_file from non root/non administrative user.
4. See e

[2022-07-01 07:16] ivbeg opened #139 "Consider removing logging to parselog.txt from parser.py"
**Is your feature request related to a problem? Please describe.**
Parselog.txt file created in the current working dir, but working directory could be read-only and it will cause unexpected errors.

**Describe the solution you'd like**
It's an unexpected behavior for python libs to create temporary or log files.

**Describe alternatives you've considered**
Remove completely default logging code f

[2022-07-01 07:52] xnuinside commented on #139
@ivbeg  hi, Ivan, thanks for opening the issue, good point, can you try version 0.26.5? I made log file optional with argument. By default it shouldn't be created.

[2022-07-01 07:54] xnuinside commented on #138
@ivbeg  and again - thanks for reporting the issue, parsetab created by Ply, I tried include it in package, but I'm not sure that it will help, because as I see it is generated each run. Can you try 0.26.5 version?

[2022-07-01 08:41] ivbeg opened #141 "Please, remove "print" calls from library code"
**Describe the bug**
Using 'print' is a bad practice for code debuging. Please remove print from output/common.py and dialects/snowflake.py. Better use logging module.

**To Reproduce**
Steps to reproduce the behavior:
1. Use simple-ddl-parser from any command like script

**Expected behavior**
Replace 'print' with 'logging.info' or 'logging.debug'. Avoid using 'print' in library code

[2022-07-01 08:49] ivbeg opened #142 "Add encoding parameter to 'parse_from_file'"
**Describe the bug**
Right now if you parse files different than the system default encoding, parse_from_file generates UnicodeDecodeError.

**To Reproduce**
Steps to reproduce the behavior:
1. Try this SQL file https://github.com/CollectiveIndustries/Mangos_world_database/blob/93b5bb6984237b4b359cf95610feee2671351a40/mangos/mangos_string.sql
2. use parse_from_file(your_filepath + 'mangos_string.s

[2022-07-01 08:50] ivbeg commented on #138
@xnuinside sure, just I will write quite a lot of issues soon. I am parsing quite a big dataset of SQL files. Probably the next version?

[2022-07-01 08:55] xnuinside commented on #141
initially was using print, because library expected only work as a console utility or script, but yes, make sense change to logging

[2022-07-01 08:58] ivbeg opened #143 "DDLParserError: Unknown symbol '\\'"
**Describe the bug**
Error DDLParserError: Unknown symbol '\\' happens on certain files

**To Reproduce**
Steps to reproduce the behavior:
1. Take file https://github.com/UGTU\UGTUKadrProject\blob\14ba90064feaf83b00a66b38500458d50d4337c8\Kadr\HRDatabase\dbo\Tables\OK_DopInf.sql
2. Use code `ddl = parse_from_file(filepath)`
4. See error `DDLParserError: Unknown symbol '\\'`

**Expected behavior**
N

[2022-07-01 09:03] ivbeg opened #144 "KeyError 'columns' on certain SQL files"
**Describe the bug**
KeyError 'columns' generated instead of DDLParserError

**To Reproduce**
Steps to reproduce the behavior:
1. Take file https://github.com/penguin9360/School-Projects/blob/3b1d67fae9a95518936e742412d0977f9127dccf/CS%20427%20-%20Software%20Engineering/iTrust/sql/createTables.sql
2. Use code ddl = parse_from_file(filepath)
3. See error KeyError 'columns'

**Expected behavior**
DD

[2022-07-01 09:07] ivbeg opened #145 "TypeError 'NoneType' object is not subscriptable on certain SQL files"
**Describe the bug**
TypeError 'NoneType' object is not subscriptable generated instead of DDLParserError

**To Reproduce**
Steps to reproduce the behavior:

1. Take file https://github.com/congnd91/html/blob/dceec6e8f0a494da74a8ce449293bd65ee83dcfe/wp/iwpserver/admin/phpMyAdmin/scripts/upgrade_tables_mysql_4_1_2%2B.sql
2. Use code ddl = parse_from_file(filepath)
3. See error TypeError 'NoneType'

[2022-07-01 09:15] xnuinside commented on #138
@ivbeg  okay :) 😭

[2022-07-01 18:23] ivbeg opened #146 "DDLParserError Unknown symbol '@'"
**Describe the bug**
Error DDLParserError: Unknown symbol '@' happens on certain files

**To Reproduce**
Steps to reproduce the behavior:
1. Take file https://github.com/timduru/platform-external-chromium_org/blob/16a18d799b9def43936f9f1fa2e325bcf616762c/components/test/data/web_database/version_30.sql?raw=True
2. Use code `ddl = parse_from_file(filepath)`
4. See error `DDLParserError: Unknown sym

[2022-07-01 18:31] ivbeg opened #147 "ValueError: Found ALTER statement to not existed TABLE COMTCCMMNCODE with SCHEMA None"
**Describe the bug**
ValueError  'Found ALTER statement to not existed TABLE COMTCCMMNCODE with SCHEMA None' on certain files

**To Reproduce**
Steps to reproduce the behavior:
1. Take file https://github.com/LeeBaekHaeng/GodTest2016/blob/a080fc963eaaf372ec5fab132b954849090a3225/god.test20170818/src/script/tibero/ddl/sts.cst_create_tibero.sql?raw=True
2. Use code ddl = parse_from_file(filepath)
3.

[2022-07-01 19:16] ivbeg opened #148 "TypeError: argument of type 'NoneType' is not iterable"
**Describe the bug**
TypeError argument of type 'NoneType' is not iterable

**To Reproduce**
Steps to reproduce the behavior:
1. Take file https://github.com/centreon/centreon-broker/blob/aae49ea83a14c74885935f4e8058eefbadc24abd/test/mysql_v2/timeperiod_exceptions.sql?raw=True
2. Use code ddl = parse_from_file(filepath)
3. See error TypeError argument of type 'NoneType' is not iterable

**Expected

[2022-07-02 05:33] ivbeg opened #149 "AttributeError: 'NoneType' object has no attribute 'update'"
**Describe the bug**
AttributeError: 'NoneType' object has no attribute 'update' for certain SQL files

**To Reproduce**
Steps to reproduce the behavior:
1. Take file https://github.com/svn2github/oa-system/blob/c698a0c09bbd6b902700e9ccab7018470c538e70/tags/1.0.0/doc/dbchange_20081128.sql?raw=True
2. Use code ddl = parse_from_file(filepath)
3. See error AttributeError: 'NoneType' object has no att

[2022-07-02 05:38] ivbeg opened #150 "TypeError: sequence item 2: expected str instance, list found"
**Describe the bug**
TypeError  sequence item 2: expected str instance, list found generated instead of DDLParserError

**To Reproduce**
Steps to reproduce the behavior:

1. Take file https://github.com/shurashs/CDW_DWH/blob/024dee59c808f8d57ef9694b7344917b54009b10/Projects/Metrics/Common/PT005/META/META_CRITERIA_COMBO.sql?raw=True
2. Use code ddl = parse_from_file(filepath)
3. See error TypeError

[2022-07-02 05:41] ivbeg opened #151 "ValueError: invalid literal for int() with base 10: '*'"
**Describe the bug**
ValueError: invalid literal for int() with base 10: '*' generated instead of DDLParserError

**To Reproduce**
Steps to reproduce the behavior:

1. Take file https://github.com/taozhaoping/ERP/blob/71ec472e9b793071a7eb52944883382e83cc4629/setup/sql/activiti/createAct/activiti.oracle.create.engine.sql?raw=True
2. Use code ddl = parse_from_file(filepath)
3. See error ValueError:

[2022-07-05 18:07] xnuinside commented on #137
@kukigai yeah, I don't have a time last days :/ because of work project, and not sure what will have a time till weekends

[2022-07-26 08:53] runzhi214 opened #153 "fail to parse MySql DDL on "DEFAULT CHARSET = utf8mb4""
**Describe the bug**
DDLParser fail to parse Mysql ddl starting from "DEFAULT CHARSET = utf8mb4", and gives empty result.
However the parser is working when this "DEFAULT CHARSET = utf8mb4" expression is removed

**To Reproduce**
Steps to reproduce the behavior:
Python sys.version = '3.9.12 (main, Apr  5 2022, 01:53:17) \n[Clang 12.0.0 ]'
`
import simple_ddl_parser as sdp

print("this is not worki

[2022-07-26 08:54] runzhi214 commented on #153
version : Simple-ddl-parser version 0.26.5 installed today.
<img width="1219" alt="截屏2022-07-26 下午4 54 19" src="https://user-images.githubusercontent.com/31073262/180966215-4c6fa728-1f18-4815-869f-8531382c00fa.png">

[2022-08-03 22:10] looi opened #154 "Support PARTITIONED BY with procedure call in it"
Use case is Spark DDL with Iceberg, example:

[code]

More examples at https://iceberg.apache.org/docs/latest/spark-ddl/#partitioned-by

[2022-08-04 22:09] nealmcb commented on #144
I see a related error with [ietf_utf8_noinsert.sql](https://gist.github.com/nealmcb/7163a70c6d3a8936c820ab790139df83)

[code]

[2022-08-06 09:38] xnuinside commented on #154
@looi hi, thanks for reporting the issue, I will add support

[2022-08-06 10:15] xnuinside commented on #154
fix added in https://github.com/xnuinside/simple-ddl-parser/issues/154

[2022-08-06 10:16] xnuinside commented on #153
@runzhi214  Hi! thanks for reporting this issue, I will work on fix

[2022-08-06 15:05] xnuinside commented on #153
done in https://github.com/xnuinside/simple-ddl-parser/pull/152

[2022-08-06 21:43] xnuinside commented on #138
I will close this issue, because I tried to fix it in 0.26.5, if it will be still actual - reopen pls

[2022-08-06 21:43] #138 closed

[2022-08-06 21:49] xnuinside commented on #154
fix released in version 0.27.0, if will be anything else - feel free to open new issue, and thanks for reporting @looi !

[2022-08-06 21:49] #154 closed

[2022-08-06 21:50] xnuinside commented on #153
@runzhi214 fix released in version 0.27.0 (https://pypi.org/project/simple-ddl-parser/), if will be anything else - feel free to open new issue, and thanks for reporting the issue!

[2022-08-06 21:50] #153 closed

[2022-08-06 21:51] xnuinside commented on #151
fix released in version 0.27.0 (https://pypi.org/project/simple-ddl-parser/), will continue work on another issues)

[2022-08-06 21:51] #151 closed

[2022-08-06 21:51] xnuinside commented on #150
fix released in version 0.27.0 (https://pypi.org/project/simple-ddl-parser/), continue working on other issues

[2022-08-06 21:51] #150 closed

[2022-08-06 21:52] xnuinside commented on #146
issue with @ was fixed in 0.27.0 but there is still issues with current ddl - so continue work on it

[2022-08-06 21:53] xnuinside commented on #139
will close it as fixed

[2022-08-06 21:53] #139 closed

[2022-08-08 17:16] looi commented on #154
Awesome!

[2022-08-08 23:08] kukigai commented on #137
Actually, it seems STRUCT is not supported at all.

[2022-08-26 16:10] mark-feeney-sage commented on #144
Getting this error with MySQL dumps, e.g. from
[code]
Trying to narrow down...
This seems ok:
[code]
while this is not
[code]
Not sure if related, but some narrowed down testing showed `AUTO_INCREMENT` resulting in `[]` as well as `DEFAULT CHARSET=utf8`, but all of the above combined gave the columns key error.

[2022-08-29 09:17] xnuinside commented on #144
Thanks for pushing about this issue, will try to find some time on it soon

[2022-09-12 13:03] ashumkoska opened #159 "Snowflake columns with autoincrement are not being parsed"
I am using `parsed_object = DDLParser(object_ddl).run()` to parse Snowflake DDL queries. However, when I try to parse a table which has columns with autoincrement, the whole table is not being parsed and I get an empty list `[]` as a result.
Example query:
[code]
If I remove the `custkey` column, the table is being properly parsed.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute `DDL

[2022-09-15 16:11] xnuinside commented on #159
@ashumkoska hi! thanks for reporting the issue, problem not in autoincrement - problem in statement after it, so if try

`create or replace table TEST_TABLE (
  custkey number(38,0) autoincrement,
  orderdate date default null comment 'This is a column comment',
  orderstatus varchar(100) default null,
  price varchar(255)
)`

you will see output

Anyway, I will work on it and fix in next release

[2022-09-20 10:25] fprivitera commented on #144
in my case, if I remove KEY  lines , which are not primary keys, it works.

[2022-09-28 09:59] devxor opened #160 "Strange behavior in terminal output using snowflake-connector together with simple-ddl-parser"
Hi,

I don't know if this is a bug or what it is exactly. Perhaps it's more connected to `snowflake-connector-python`...

I have described everything on StackOverflow. Link below. Thought that you could also help me with this or at least some ideas to try out. Long sotry short - when using simple-ddl-parser together with snowflake-connector-python I'm starting to get a lot of "debug" information p

[2022-09-28 11:08] devxor commented on #160
It was answered on StackOverflow! It has to do with the logging level used in the simple-ddl-parser which is DEBUG per default. It could be changed like this:

[code]

However, it seems there is no way to set the logging level using the `parse_from_file`. Is it right? Perhaps it could be an ask for a new feature? To add this possibility also to function `parse_from_file`?

[2022-09-28 16:39] xnuinside commented on #160
@devxor right, I will fix it in next release, thanks for reporting this issue

[2022-10-26 17:36] krivard opened #161 "Rejects block comments with content after special character"
**Describe the bug**
Block comments can end with a special character  (any of `|&?;`)  but if you put anything after the special character it crashes with

[code]

**To Reproduce**
Steps to reproduce the behavior:

Succeeds:
[code]

Fails:
[code]

**Expected behavior**
Position of `|&?;` characters within a block comment should not affect whether the file parses or not

**Additional context**

* P

[2022-10-27 14:21] earonesty opened #162 "doesn't seem to parse a basic create statement"
[code]

[2022-10-27 14:23] #162 closed

[2022-10-27 15:31] earonesty opened #163 "auto_increment ordering breaks parse, no error returned"
the following results in "None", no errors

[code]

if i knew a bit more about how the yacc module worked, i would fix it, looking at it now

looks like the mysql auto_increment breaks it, even though this executes correctly in mysql

[2022-10-27 15:48] earonesty commented on #162
closed in favor of more clear statement, more details

[2022-10-30 19:18] xnuinside commented on #163
@earonesty in your ddl also one more interesting issue! my parser totally unsupport floats :) will fix it, thanks one more time!

[2022-10-30 20:40] xnuinside commented on #163
@earonesty I just released version 0.28.0 https://pypi.org/project/simple-ddl-parser/, both issues was fixed, I also added test for your sample: https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_simple_ddl_parser.py#L2791

If will be needed anything else - feel free to open new issue. And thanks one more time!

[2022-10-30 20:40] #163 closed

[2022-10-30 20:42] xnuinside commented on #160
@devxor very sorry, that it taken so much time - but I released new version with argument 'parser_settings' - described in changelog https://github.com/xnuinside/simple-ddl-parser/#changelog

if will be needed anything else - feel free to open new issues!

[2022-10-30 20:42] #160 closed

[2022-10-30 20:45] xnuinside commented on #161
@krivard I just released version 0.28.0 with fix, now your sample will be parsed validly & produces resul:

`{'comments': [' ', 'xyz|'],
 'ddl_properties': [],
 'domains': [],
 'schemas': [],
 'sequences': [],
 'tables': [{'alter': {},
             'checks': [],
             'columns': [{'autoincrement': True,
                          'check': None,
                          'default': None,

[2022-10-30 20:45] #161 closed

[2022-10-31 10:04] xnuinside commented on #141
@ivbeg done in release 0.28.0 I will close this issue

[2022-10-31 10:04] #141 closed

[2022-10-31 15:25] devxor commented on #160
Thank you!
Indeed, I have found something else and will open a new issue :).

[2022-10-31 15:42] devxor opened #166 "Parser not working when double apostrophes are used inside of a comment (escaped apostrophe)"
**Describe the bug**
In the SNOWFLAKE database, when you are using an apostrophe in a comment, the apostrophe is escaped with another apostrophe like:
- comment on a field level is "Grouping of hierarchy L1's.". Is what you see with DESC TABLE...
- in DDL is like "Grouping of hierarchy L1''s."

I have tested the parser and it seems, that this double apostrophes in comments are making issues and th

[2022-10-31 16:07] xnuinside commented on #166
@devxor I know about this issue))) but tried to ignore it too much as possible. It's hard to fix because of how parser identify a strings with quotes, I will try to figure out how to fix it with less pain

[2022-10-31 16:55] xnuinside commented on #135
@kimjj81 this issue was fixed in version 0.28.0. I tested on sample:

[code]
it produces normal output.

If will be needed anything else - feel free to open new issue.

And sorry that its takes so much time :)

[2022-10-31 16:55] #135 closed

[2022-10-31 16:58] xnuinside commented on #143
issue was fixed in version 0.28.0, now sql https://github.com/UGTU/UGTUKadrProject/blob/14ba90064feaf83b00a66b38500458d50d4337c8/Kadr/HRDatabase/dbo/Tables/OK_DopInf.sql is parsed validly and produces output.

I will close the issue - if will be something wrong feel free to open or create another one. Thank you!

[2022-10-31 16:58] #143 closed

[2022-11-02 15:17] herokri opened #168 "array parsing in hql failes"
Hi Found this bug provided test:

   ddl = """
    CREATE TABLE IF NOT EXISTS default.salesorderdetail(
            column_abc ARRAY<string>,
            )
    """
    result = DDLParser(ddl, silent=False, normalize_names=True).run(output_mode="hql", group_by_type=True)
    expected = {
        "tables": [
            {
                "if_not_exists": True,
                "columns": [

[2022-11-02 17:01] xnuinside commented on #168
@herokri thanks for reporting - will take a look on it on weekends

[2022-11-04 09:31] devxor commented on #166
@xnuinside thx! For my use case I don't care about comments, so I will use a workaround of simply removing double apostrophes `''` from the DDL and the parser will still work.
Of course it's not a solution for you. People would probably like to see their comments with apostrophes :).

[2022-11-04 09:42] devxor opened #169 "Some of multiple statements in a DDL file/string are ignored"
**Describe the bug**
Having DDL in a file with multiple statements like in the example below will ignore the `COMMENT` line, so in the parsed result there will be no information about comment.

**To Reproduce**
[code]

**Expected behavior**
All the statements from DDL file/string parsed correctly and included in the result.

[2022-11-04 11:41] devxor opened #170 "Issues parsing AUTOINCREMENT together with NOT NULL statement"
**Describe the bug**
When there is `NOT NULL` statement before `AUTOINCREMENT` statement the parser is not returning results.

**To Reproduce**
[code]

**Expected behavior**
Results parsed correctly.

**Question:
When I will remove `NOT NULL` in the above example, it will be parsed, however the type of the column will be displayed as `NUMBERAUTOINCREMENT`. Is it correct? Should not be only `NUMBER

[2022-11-12 10:27] blazewicz opened #171 "Support for non-numeric column type parameters"
Parser fails on parametrized column type definitions using non-numeric parameters, type parameter is always assumed to be a size associated with the type and parser expects it to be an `int`.

PostGIS, a pupular PostgreSQL extension for spatial data adds some extra types, for example `Geometry`, which are parametrized with a subtype ([docs](https://postgis.net/docs/manual-3.3/using_postgis_dbmanag

[2022-11-12 19:08] blazewicz commented on #171
Here's a sample test case:

[code]

and the simplest POC that would make it work:

[code]

[2022-11-12 20:01] xnuinside commented on #171
@blazewicz you can just open PR with same changes - feel free ) just check that all unit tests are passed & add new test case - I will merge it

[2022-11-20 18:05] xnuinside commented on #171
@blazewicz hi, I released version 0.29.0 (https://pypi.org/project/simple-ddl-parser/) with support non-numeric column type parameters https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_simple_ddl_parser.py#L3139 - here is a test case for your query. If will be needed anything else - feel free to open new issue!

[2022-11-20 18:05] #171 closed

[2022-11-20 18:07] xnuinside commented on #170
@devxor I just released version 0.29.0 with fix. Try it! Test added here https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_simple_ddl_parser.py#L3121

thanks for opening the issue & feel free to open new one if needed anything more

[2022-11-20 18:07] #170 closed

[2022-11-20 18:08] xnuinside commented on #148
TypeError argument of type 'NoneType' is not iterable - fixed in 0.29.0 (at lease for the first query sample), test added here - https://github.com/xnuinside/simple-ddl-parser/blob/main/tests/test_references.py#L395

But, I will not close the issue because of another problems in samples )

[2022-11-21 06:11] erwin-frohsinn opened #173 "Column comments not assiciated to column names"
**Describe the bug**
A DDL containing **COMMENT ON COLUMN** does not associate the comment to the column

**To Reproduce**
run this:
[code]
This code produces
`... {'comments': [' Verweis auf den Saal', ' Ja/Nein']}...`

which is just a collection of comments w/o reference to the fields they belong to.

**Expected behavior**
something like
` {'comments': {'something.t_spiel.refsaalid': ' Verweis a

[2022-11-21 06:15] xnuinside commented on #173
@erwin-frohsinn hi! Thanks for opening the issue, can you provide the link to the doc for such type of comments? Normally in sql doble ‘-‘ mean start of the comments that are ignored in SQL interpretation and it is just a comment in the document without any associations

[2022-11-21 06:27] erwin-frohsinn commented on #173
Thanks for this fast reply!
https://www.postgresql.org/docs/current/sql-comment.html describes COMMENT.
I saw that the comments are written without leading "--", therefore I modified my code accordingly to

-- Column comments

COMMENT ON COLUMN something.t_spiel.refsaalid IS 'Verweis auf den Saal';
COMMENT ON COLUMN something.t_spiel.freieplatzwahl IS 'Ja/Nein';

but also in this case, DDLParser p

[2022-11-25 16:49] josh-andi opened #175 "Question: Does this library output to JSON schema?"
Hi I was wondering if the JSON it outputs is compatible with https://json-schema.org/specification.html

My use case is that I want to validate that incoming records match the redshift table schema

[2022-11-26 20:24] xnuinside commented on #175
@josh-andi hi, no, output is just python dict or simple json, there is no support JSON Schema